body,
html {
  margin: 0;
  background-color: #3395ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

table,
th,
td {
  border: 1px solid black;
}
